<div class="p-fluid mt-2 ml-1" [@routerTransition] *ngIf="property">
  <ul class="list-none p-0 m-0">
    <li class="flex align-items-center py-3 px-2  surface-border flex-wrap">
      <div class="text-500 w-6 md:w-2 font-medium">Type</div>
      <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
        <p-dropdown id="inputPropertyType" [options]="propertyTypes" *ngIf="!property.isRelationalProperty"
                    [(ngModel)]="selectedPropertyType"
                    placeholder="Select Type"
                    (onChange)="onPropertyTypeChanged($event)"
                    [showClear]="true"></p-dropdown>

        <p-dropdown [options]="this.entities" *ngIf="property.isRelationalProperty"
                    [(ngModel)]="property.relationalEntityId"
                    optionValue="id"
                    optionLabel="name"
                    placeholder="Select Entity"
                    [showClear]="true"></p-dropdown>
      </div>
      <div class="text-900 w-full md:w-1 md:flex-order-0 flex-order-1 ml-1">
        <p-checkbox [(ngModel)]="property.isRelationalProperty" [binary]="true"
                    (onChange)="onIsRelationalPropertyChanged($event)" label="Relational Property"
                    inputId="binary"></p-checkbox>
      </div>
    </li>
    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
        *ngIf="property.isRelationalProperty">
      <div class="text-500 w-6 md:w-2 font-medium">Relation Type</div>
      <div class="text-900 w-full md:w-10 md:flex-order-0 flex-order-1">
        <p-dropdown id="inputRelationType" [options]="relationTypes"
                    [(ngModel)]="selectedRelationType"
                    placeholder="Select Relation Type"
                    (onChange)="onSelectedRelationTypeChange($event)"
                    [showClear]="true"></p-dropdown>
      </div>
    </li>
    <li class="flex align-items-center py-3 px-2  border-top-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-2 font-medium">Name</div>
      <div class="text-900 w-full md:w-10 md:flex-order-0 flex-order-1">
        <input type="text" id="inputName" pInputText [(ngModel)]="property.name">

      </div>
    </li>
    <li class="flex align-items-center py-3 px-2  border-top-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-2 font-medium">Display Name</div>
      <div class="text-900 w-full md:w-10 md:flex-order-0 flex-order-1">
        <input type="text" id="inputDisplayName" pInputText [(ngModel)]="property.displayName">
      </div>
    </li>
    <li class="flex align-items-center py-3 px-2  border-top-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-2 font-medium">ToolTip</div>
      <div class="text-900 w-full md:w-10 md:flex-order-0 flex-order-1">
        <input type="text" id="inputToolTip" pInputText [(ngModel)]="property.toolTip">
      </div>
    </li>
    <li class="flex align-items-center py-3 px-2  border-top-1 surface-border flex-wrap" *ngIf="property.type==0">
      <div class="text-500 w-6 md:w-2 font-medium">Max Length</div>
      <div class="text-900 w-full md:w-10 md:flex-order-0 flex-order-1">
        <p-inputNumber inputId="inputMaxLength" [(ngModel)]="property.maxLength"></p-inputNumber>
      </div>
    </li>
    <li class="flex align-items-center py-3 px-2  border-top-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-2 font-medium">Options</div>
      <div class="grid mt-3">
        <div class="col field-checkbox">
          <p-radioButton name="nullableOrRequired" value="nullable" [(ngModel)]="isNullableOrRequired"
                         inputId="inputNullable"></p-radioButton>
          <label for="inputNullable">Nullable</label>
        </div>

        <div class="col field-checkbox">
          <p-radioButton name="nullableOrRequired" value="required" [(ngModel)]="isNullableOrRequired"
                         inputId="inputRequired"></p-radioButton>
          <label for="inputRequired">Required</label>
        </div>

        <div class="col field-checkbox">
          <p-checkbox [(ngModel)]="property.indexed" [binary]="true" inputId="inputIndexed"></p-checkbox>
          <label for="inputIndexed">Indexed</label>
        </div>

        <div class="col field-checkbox">
          <p-checkbox [(ngModel)]="property.unique" [binary]="true" inputId="inputUnique"></p-checkbox>
          <label for="inputUnique">Unique</label>
        </div>
      </div>
    </li>
  </ul>
  <div class="col-12">
    <div class="flex flex-row-reverse flex-wrap card-container ">
      <div
        class="flex align-items-center justify-content-center ">
        <button pButton pRipple type="button" icon="pi pi-times" label="Close" (click)="close()"
                class="p-button-outlined p-button-rounded p-button-danger mr-2"></button>

        <button pButton pRipple type="button" icon="pi pi-plus" label="Modify" [loading]="saving" (click)="save()"
                class="p-button-rounded w-100"></button>

      </div>
    </div>
  </div>

</div>
