<div class="surface-card p-4 shadow-2 border-round" [@routerTransition]>
  <div class="flex card-container blue-container overflow-hidden">
    <div
      class="flex-none">
      <div class="font-medium text-3xl text-900 mb-3">
        New Entity
      </div>
    </div>
  </div>
  <div class="grid p-fluid mt-2">
    <div class="col-12 md:col-4">
       <span class="field">
          <label for="inputPrimaryKeyType">Primary Key Type</label>
         <p-dropdown id="inputPrimaryKeyType" [options]="primaryKeyTypes"
                     [(ngModel)]="selectedPrimaryType"
                     placeholder="Select Type"
                     [showClear]="true"></p-dropdown>
        </span>
    </div>
    <div class="col-12 md:col-4">
       <span class="field">
            <label for="inputName" class="block">Name</label>
            <input type="text" id="inputName" pInputText [(ngModel)]="entity.name"
                   (ngModelChange)="onEntityNameChanged($event)">
        </span>
    </div>

    <div class="col-12 md:col-4">
       <span class="field">
            <label for="inputDisplayName">Display Name</label>
            <input type="text" id="inputDisplayName" pInputText [(ngModel)]="entity.displayName">
        </span>
    </div>

    <div class="col-12 md:col-4">
       <span class="field">
          <label for="toggleButtonFullAudited">Audit</label>
          <p-toggleButton id="toggleButtonFullAudited"
                          [(ngModel)]="entity.isFullAudited"
                          onLabel="Enabled"
                          offLabel="Disabled"
                          onIcon="pi pi-check"
                          offIcon="pi pi-times"></p-toggleButton>
        </span>
    </div>

    <div class="col-12 md:col-4">
       <span class="field">
          <label for="inputTenantType">Tenant Type</label>
         <p-dropdown id="inputTenantType" [options]="tenantTypes"
                     [(ngModel)]="selectedTenantType"
                     placeholder="Select Type"
                     [showClear]="true"></p-dropdown>
        </span>
    </div>


    <div class="col-12">
      <div class="flex flex-row-reverse flex-wrap card-container ">
        <div
          class="flex align-items-center justify-content-center ">
          <button pButton pRipple type="button" icon="pi pi-plus" label="Create" [loading]="saving" (click)="save()"
                  class="p-button-rounded w-100"></button>
        </div>
      </div>
    </div>
  </div>
</div>
