<app-toolbar></app-toolbar>
<div class="surface px-4 py-8 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-2xl">
    <span class="text-900">Create Your </span>
    <span class="text-blue-600">Web Application</span>
  </div>
  <div class="text-700 text-sm">Spend your time only for workflows on your project</div>
  <div class="text-700 text-sm mb-6">Based on <a href="https://aspnetboilerplate.com/" target="_blank">AspNet
    Boilerplate️</a> ❤️
  </div>

  <div class="mb-6">
    <button pButton pRipple type="button" routerLink="/app" label="Get Started" class="p-button-outlined p-button-rounded"></button>
  </div>

  <div class="grid">

    <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-check-circle text-4xl text-blue-500"></i>
            </span>
      <div class="text-900 mb-3 font-medium">Easy to Use</div>
      <span class="text-700 text-sm line-height-3">Just worry about the data you're going to keep!</span>
    </div>

    <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
      <div class="text-900 mb-3 font-medium">Built for Developers</div>
      <span class="text-700 text-sm line-height-3">We aim to save your time for the outline of the project you are going to develop.</span>
    </div>

    <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-github text-4xl text-blue-500"></i>
            </span>
      <div class="text-900 mb-3 font-medium">Open Source</div>
      <span class="text-700 text-sm line-height-3">You can contribute to  <a
        href="https://github.com/bsogulcan/soft-craft-api" target="_blank">SoftCraft</a>  for software developers like you to start a new project.</span>
    </div>
  </div>
</div>
